<div class="main-container" >
    <div class="welcome-title">
        Welcome back,
    </div>
    <div class="name-title">
        {{ name }}
        <button mat-button (click)="updateLocation()" *ngIf="role == 'Collector'">
          Update Location
        </button>
    </div>

    <div class="section-cards-container">
        <div class="section-cards-left">
            <div class="section-cards-visit-chart">
                <div class="card-title-section">
                    <mat-icon [inline]="true">circle</mat-icon>
                    {{ chartTitle }}
                </div>
                <div class="chart-container">
                    <canvas baseChart
                        [datasets]="barChartData"
                        [labels]="barChartLabels"
                        [options]="barChartOptions"
                        [legend]="barChartLegend"
                        [chartType]="barChartType"
                        [colors]="barChartColors"
                        *ngIf="chartReady">
                    </canvas>
                </div>
            </div>
        </div>
        <!-- <div class="section-cards-right">
            <div class="section-cards-current-visit">
                <div class="card-title-section-container">
                    <div class="card-title-section">
                        <mat-icon [inline]="true">circle</mat-icon>
                        Current Capacity
                    </div>
                </div>

            </div>
        </div> -->
    </div>
</div>


<ngx-loading [show]="loading"></ngx-loading>
